/* This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- my CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

/* This is my beach background that covers the entire webpage */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/beach-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* This is my white center piece */
.center {
    width: 60%; /* This is for responsiveness */
	min-width: 300px; 
	padding: 2%; /* This is the space between the edge of the center and the text */
    margin: 200px auto;
 	background: rgba(255, 255, 255, 0.7); /* This is to make the center piece white */
	text-align: center; /* This is to align the text to center */
	border-radius: 60px 20px 60px 20px; /* This is to make the borders round */
}

/* This is my logo */
#logo {
    width: 40%; /* This is for responsiveness */
	margin-bottom: 14px; /* This is the space between the logo and the text below it */
	text-align: center; /* This is so the logo is centered */
}

/* This is my first line of text */
h1 {
	font-family: "merel", sans-serif;
	font-size: 2em;
	font-weight: 1000; /* This is to make the font bolder */
    margin: 0px auto 10px auto; 
    color: rgb(20, 79, 92); /* This is the color of the font */
}

/* This is my second line of text */
h2 {
	font-family: "merel", sans-serif;
	 font-size: 1.5em;
	 font-weight: 900; /* This is to make the font bolder */
	 font-style: italic; /* This is to make the font italic */
    line-height: 1.4;
    color: rgb(20, 79, 92); /* This is the color of the font */
    margin: 0px auto 10px auto;
}

/* This is my navigation bar */
nav{
	font-family: "merel", sans-serif;
	font-size: 1.3em;
	width: 80%; /* This is for responsiveness */
	margin: 0 auto;
	text-align: center; /* This is so the navigation is centered */
	margin-top: 0em;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding-right: 8px;
}

/* This is for before I hover over my navigation bar */
a{
	color: rgb(20, 79, 92); /* This is the text color before you hover */
	text-decoration: none; /* This is so the text is not underlined before you hover */
	font-weight: 800; /* This is to make the font bolder */
	padding-right: 3px; /* This is to add space on the right side of each text */
	padding-left: 3px; /* This is to add space on the left side of each text */
}

/* This is for when I hover over my navigation bar */
a:hover{
	border: 1px solid rgb(208,178,169); /* This is to add a colored border around the text when you hover */
	color: rgb(208,178,169); /* This is the color the text with be when you hover */
	font-weight: 800; /* This is to make the font bolder */
	padding-right: 3px; /* This is to add space on the right side of each text */
	padding-left: 3px; /* This is to add space on the left side of each text */
}
